
.container{
  margin: 0 auto;
}

.form-container{
  width: 600px;
  margin: 0px auto;
  margin-top: 50px
}

.form-field{
  display: block
}

.btn-group {
  display:flex;
  justify-content: center;
  margin-bottom: 20px;

  div {
    margin: 0 auto;
  }
}
